@font-face{
    src:url(/font/Montserrat-VariableFont_wght.ttf);
    font-family:montserrat;
}
*{
    font-family:montserrat;
}
html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;  /* Prevents horizontal scroll */
}

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav-logo{
    cursor:pointer;
    min-width:8em;
}
.bar-logo{
    min-width:100%;
    min-height:50%;
}
.region{
    min-height:1.7em;
}
.network{
    min-height:70%;
}

.container-fluid.custom-width{
    height:38px;
    width:98%;
}
.position-fixed .container-fluid{
    width:100%;
}
.fa-solid.fa-grid-2{
    color:white;
}
.top-bar {
  max-height: 100px;
  width:100vw;
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
}
.container-fluid.nav-bar{
    height:65px;
    position:relative;
}
h6.collapse-nav{
    font-size:0.8em;
}
.container{
    height:65px;
}
.list-item{
    font-weight:600;
}
.main{
    background-image:url(/byd-img/byd_hero.png);
    background-size:cover;
    background-position:center;
    min-height:102vh;
    background-repeat:no-repeat;
    z-index:-1;
    width:100%;
    max-width:100vw;
    overflow:hidden;
}
.nav{
    position:sticky;
    top:0;
    z-index:1030;
}
.dropdown{
    position:relative;
}

.bi{
    height:0.9em;
}
button.explore-more:hover{
    background-color:#fff!important;
    color:#000!important;
    transition: all 1s ease!important;
    
}

.footer-left{
    width:50%;
}
.footer-right{
    width:50%;
}
.footer-link .nav-link{
    font-size:0.8em!important;
    cursor:pointer;
}
.footer-icons .nav-link{
    font-size:0.8em!important;
}
.footer-icons i{
    font-size:1.5em;
    color:#474747;
    cursor:pointer;
}
.footer-icons svg{
    font-size:2em!important;
    color:#474747;
    cursor:pointer;
}
.bottom-line{
    border:1px solid #fff;
    width:95%;
    margin: 0 auto;
}
.footer-bottom{
    height:100px;
    font-size:0.8em;
    color:#999999;
    
}
.footer-icons i:hover{
    color:#999999!important;
}
.footer-icons svg:hover{
    color:#999999!important;
}
.footer-link .nav-link:hover{
    color:#d6d6d6;
}
.list-item .nav-link{
    cursor:pointer;
}
.list-item .nav-link:hover{
    text-decoration:underline;
}
.bi-list{
    color:#fff;
    font-size:4em;
    display:none;
}
.bi-list:hover{
    cursor:pointer;
}
.earth{
  width:100%;
  height:auto;
}


.menu-toggle {
    display: none;
}

.hamburger-icon {
    display: none; /* Hidden by default, shown in media query */
    position: relative;
    z-index: 1100; /* Ensure it's above other content */
    cursor: pointer;
    color: #fff;
    min-height:50px;
    min-width:50px;
    flex-shrink:0;
}
.hamburger-icon svg {
  width: 50px !important;
  height: 50px !important;
  max-width: none !important;
}
nav.position-sticky .hamburger-icon svg {
    height:50px!important;
    width:50px!important;

}

.hamburger-icon .icon-close {
    display: none; /* Hide the 'X' icon by default */
}

/* 3. Style the slide-out menu */
.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 1050; /* Below the icon but above everything else */
    
    /* Hide the menu off-screen to the right */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    /* Styling for the links inside */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger-menu .nav-item {
    list-style: none;
    padding: 0;
    text-align: center;
}

.hamburger-menu .nav-link {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

/* 4. The Show menu when checkbox is checked */
.menu-toggle:checked ~ .hamburger-menu {
    transform: translateX(0); /* Slide menu into view */
}

/* 5. Switch between hamburger and 'X' icon */
.menu-toggle:checked + .hamburger-icon .icon-hamburger {
    display: none; /* Hide hamburger bars */
}

.menu-toggle:checked + .hamburger-icon .icon-close {
    display: block; /* Show the 'X' */
}

@media (max-width:1399.98px){
    .footer-left, .footer-right{
        width:40%;
    }
    .footer-left{
        margin-right:10%;
    }
    .footer-right{
        margin-left:10%;
    }

}
@media (min-width:1399.98px){
    .footer-top2.custom{
        display: none !important;
    }
}
@media (min-width:1199.98px){
    .footer-top2.custom{
        display: none !important;
    }
}
@media (max-width:1199.98px){
    .list-item .nav-link{
        display:none;
    }
    .nav-logo{
        padding-right:25px;
    }
    .region{
        display:none;
    }
    
    .hamburger-icon {
        display: block; /* Show the hamburger label on small screens */
    }
    .region{
        display:none;
    }
    .list-item .nav-link {
        display:none;
    }
    
    .img-fluid{
        max-width:100%;
        height:auto;
    }
    .top-bar{
       max-height: 0;
       opacity: 0;
       padding: 0;

    }
    .footer-top2.custom{
    max-height:400px;
    width:95%;
    display:none!important;
    }   
    .follow .nav-link{
        font-size:0.8em;
    }
  }
@media (min-width:991.998px){
  .earth2{
    display:none;
  }
}
@media (max-width:991.998px){
    .main{
      background-image:url(/byd-img/byd-main-md.png);
      background-size:cover;
      overflow:hidden;
    }
    .earth{
      display:none;
    }
    .earth2{
      display:block;
      width:100%;
      height:auto;
    }
    .bottom-line{
        width:90%;
    }
    .footer-top.custom{
        display:none!important;
    }
    .footer-top2.custom{
        display:flex!important;
        flex-direction:column;
    }
}
@max (max-width:575.98px){
  .nav-logo{
    margin:0;
  }
}